# https://developers.naver.com/docs/search/local/

openapi: 3.0.0
info:
  title: Naver Open API
  description: 네이버 오픈API는 네이버 플랫폼의 기능을 외부 개발자가 쉽게 이용할 수 있게 웹 또는 SDK 형태로 공개한 기술들입니다. 네이버 오픈API로 활용할 수 있는 기술에는 네이버 아이디로 로그인과 지도, 검색이 있으며, Clova의 음성 인식 기술과 음성 합성 기술, 얼굴 인식 기술, Papago의 기계 번역 기술 등이 있습니다.
  version: 1.0.0
servers:
  - url: https://openapi.naver.com/v1/
tags:
  - name: 검색
paths:
  /search/local.json:
    get:
      tags:
        - 검색
      summary: 지역별 업체 및 상호 검색
      description: 네이버 지역 서비스에 등록된 각 지역별 업체 및 상호 검색 결과를 출력해주는 REST API입니다
      operationId: searchLocal
      parameters:
        - name: query
          description: 검색을 원하는 문자열로서 UTF-8로 인코딩한다.
          in: query
          required: true
          schema:
            type: string
        - name: display
          description: 검색 결과 출력 건수 지정
          in: query
          required: false
          schema:
            type: integer
            default: 10
            minimum: 1
            maximum: 30
        - name: start
          description: 검색 시작 위치로 최대 1000까지 가능
          in: query
          required: false
          schema:
            type: integer
            default: 1
            minimum: 1
            maximum: 1000
        - name: sort
          description: "정렬 옵션: random(유사도순), comment(카페/블로그 리뷰 개수 순)"
          in: query
          required: false
          schema:
            type: string
            default: random
            enum:
              - random
              - comment
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchLocalResult"
        default:
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NaverError"
components:
  schemas:
    SearchLocalResult:
      type: object
      properties:
        rss:
          description: 디버그를 쉽게 하고 RSS 리더기만으로 이용할 수 있게 하기 위해 만든 RSS 포맷의 컨테이너이며 그 외의 특별한 의미는 없다.
          type: object
        channel:
          description: 검색 결과를 포함하는 컨테이너이다. 이 안에 있는 title, link, description 등의 항목은 참고용으로 무시해도 무방하다.
          type: object
        lastBuildDate:
          description: 검색 결과를 생성한 시간이다.
          type: string
        total:
          description: 검색 결과 문서의 총 개수를 의미한다.
          type: integer
        start:
          description: 검색 결과 문서 중, 문서의 시작점을 의미한다.
          type: integer
        display:
          description: 검색된 검색 결과의 개수이다.
          type: integer
        category:
          description: 검색 결과 업체, 기관의 분류 정보를 제공한다.
          type: string
        items:
          description: XML 포멧에서는 item 태그로, JSON 포멧에서는 items 속성으로 표현된다. 개별 검색 결과이며 title, link, description, telephone, address, mapx, mapy를 포함한다.
          type: array
          items:
            type: object
            properties:
              title:
                description: 검색 결과 업체, 기관명을 나타낸다.
                type: string
              link:
                description: 검색 결과 업체, 기관의 상세 정보가 제공되는 네이버 페이지의 하이퍼텍스트 link를 나타낸다.
                type: string
              description:
                description: 검색 결과 업체, 기관명에 대한 설명을 제공한다.
                type: string
              telephone:
                description: 검색 결과 업체, 기관명의 전화번호를 제공한다.
                type: string
              address:
                description: 검색 결과 업체, 기관명의 주소를 제공한다.
                type: string
              roadAddress:
                description: 검색 결과 업체, 기관명의 도로명 주소를 제공한다.
                type: string
              mapx:
                description: 검색 결과 업체, 기관명 위치 정보의 x좌표를 제공한다. 제공값은 카텍좌표계 값으로 제공된다. 이 좌표값은 지도 API와 연동 가능하다.
                type: integer
              mapy:
                description: 검색 결과 업체, 기관명 위치 정보의 y좌표를 제공한다. 제공값은 카텍 좌표계 값으로 제공된다. 이 좌표값은 지도 API와 연동 가능하다.
                type: integer
    NaverError:
      type: object
      properties:
        errorMessage:
          type: string
        errorCode:
          type: string
